{include file='default_header.tpl'}

    <h1> Přístup zamítnut </h1>
    <p> Tato část webu je přístupná pouze registrovaným uživatelům. <a href="register">Zaregistrujte se zdarma!</a> </p>

{include file='default_footer.tpl'}
