{include file='default_header.tpl'}
  {include file='default_messages.tpl'}

    <h1> {$smarty_category} </h1>

    {foreach from=$smarty_article_list key=myId item=i}
      <p>
        <a href="{$i.rewrite_url}"> {$i.headline} </a> <br />
        {$i.perex}
      </p>
    {/foreach}

{include file='default_footer.tpl'}
