<p>
  <form name="creator_form_control" method="POST">
    <input type="button" value="Přidat řádek" onClick="addRow('dataTable')" />
    <input type="button" value="Odebrat řádek" onClick="deleteRow('dataTable')" />
    <input type="submit" value="Zrušit vytváření CV" name="creator_form_control_destroy" style="display: inline;" />
  </form>
</p>
