{include file='default_header.tpl'}
  {include file='default_messages.tpl'}
  <form name="profile_add_certification_form" method="POST" action="">
    <table>
      <tr>
        <td> Rok získání </td> <td> <input type="text" name="profile_add_certification_year" value="{if isset($smarty_profile_add_certification_year)}{$smarty_profile_add_certification_year}{/if}" /> </td>
      </tr>

      <tr>
        <td> Označení certifikace: </td> <td> <input type="text" name="profile_add_certification_name" value="{if isset($smarty_profile_add_certification_name)}{$smarty_profile_add_certification_name}{/if}"  /> </td>
      </tr>

      <tr>
        <td> Instituce </td> <td> <input type="text" name="profile_add_certification_school" value="{if isset($smarty_profile_add_certification_school)}{$smarty_profile_add_certification_school}{/if}" /> </td>
      </tr>

    </table>
    <input type="submit" value="Odeslat" name="profile_add_certification_submit" class="btn" />

  </form>

{include file='default_footer.tpl'}
