{include file='default_header.tpl'}
  {include file='default_messages.tpl'}
  <form name="profile_edit_certification_form" method="POST" action="">
    <table>
      <tr>
        <td> Rok získání </td> <td> <input type="text" name="profile_edit_certification_year" value="{$smarty_year}" /> </td>
      </tr>

      <tr>
        <td> Označení certifikace: </td> <td> <input type="text" name="profile_edit_certification_name" value="{$smarty_name}"  /> </td>
      </tr>

      <tr>
        <td> Instituce </td> <td> <input type="text" name="profile_edit_certification_school" value="{$smarty_school}" /> </td>
      </tr>

    </table>
    <input type="submit" value="Odeslat" name="profile_edit_certification_submit" class="btn" />

  </form>

{include file='default_footer.tpl'}
