{include file='default_header.tpl'}

    <h1> Registrace proběhla úspěšně </h1>
    <p> Na Vámi zadanou emailovou adresu byl odeslán email s odkazem pro dokončení registrace. </p>

{include file='default_footer.tpl'}
