<html>
  <head>
    <title> Something </title>
    <style>
      body {
        font-family: Helvetica, sans-serif;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
      <p> Some testing data: {$smarty_test} </p>
      <p> Another testing data: {$smarty_test2} </p>
  </body>
</html>
